.hero-parallax-wrap {
 
    align-items: center;
    justify-content: center;
    perspective: 1px;
    transform-style:preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    
    .parallax-item {
        background-image: url(../img/BG-Portfolio.gif);
                background-position: center;
                background-size: cover;
                display: flex;
                flex: 1 0 auto;
                position: relative;
                z-index: -1;
                height: 100vh;
                max-width: 100%;
                justify-content: center;
                align-items: center;
                transform: translateZ(-1px) scale(2);            
    }
}
.content{

text-align: center;
align-items: center;
justify-content: center;

height:50vh;
z-index: 1;
color:white;

}