@font-face {
    font-family: OCRA;
    src: url(../lib/fonts/OCRAEXT.TTF);
}

html {
    font-family: OCRA;
    scroll-behavior: smooth;
    overflow-y: scroll;
    background-color: black;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}